<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="Selenium Suite" parallel="methods" thread-count="3">

    <listeners>
        <listener class-name="com.framework.Listeners.TestListener"/>
    </listeners>

    <test name="Login Tests">
        <classes>
            <class name="com.framework.tests.LoginTest"/>
        </classes>
    </test>

</suite>